
    .header_outer_container {
    position: sticky;
    top: 0;
    display: flex;
     /* justify-content: center; 
     align-items: center; use this instead of align-content for flex children  */
    height: 10vh;
    color: white;
    transition: all 0.5s ease-in;
}
.header_outer_container ul{
    display: flex;
    justify-content: center;
    margin-right: 20px;
    

}
.header_outer_container ul li {
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}
.logo_container img{

    width: 70px;   /* or any size you want */
   height: auto;
   margin-bottom: 10px;

}




